@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --Orange-500: #fb7413;
    --White: #ffffff;
    --Grey-500: #959eac;
    --Grey-900: #252d37;
    --Grey-950: #121417;
    --font-destaque: 'Overpass', sans-serif;
}

html{
    font-size: 62.5%;
    font-family: var(--font-destaque);
}

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-size: 1.5rem;
}

body{
    background-color: var(--Grey-950);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

main{
    background-color: var(--Grey-900);
    width: 90vw;
    height: 60vh;
    border-radius: 2rem;
    padding: 0rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#star {
  background: #343f4d;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main h1{
    color: var(--White);
    font-size: 2.5rem;
    font-weight: 700;
    padding: 2rem 0rem;
}

main p{
    color: var(--Grey-500);
    font-weight: 400;
    line-height: 2.4rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    color: var(--Grey-500);
    margin-bottom: 2.4rem;
}

.menu_number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.2rem;
    height: 4.2rem;
    background-color: #343f4d;
    border-radius: 50%;
    transition: linear 0.2s;
}

.menu_number:hover{
    background-color: var(--Orange-500);
    color: var(--white);
    cursor: pointer;
}

.numberActive{
    background-color: var(--Grey-500);
    color: var(--White);
}

#subimit{
    background-color: var(--Orange-500);
    color: var(--Grey-950);
    border: none;
    border-radius: 3rem;
    line-height: 4.5rem;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

#subimit:hover{
    background-color: var(--White);
}

#resposta{
    background-color: var(--Grey-900);
    width: 90vw;
    height: 60vh;
    border-radius: 2rem;
    padding: 0rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    display: none;
}

#resposta img{
    width: 15rem;
    padding-bottom: 2rem;
}

#resposta h2{
    background-color: #343f4d;
    color: var(--Orange-500);
    border-radius: 3rem;
    line-height: 3rem;
    padding: .5rem 1rem 0rem 1rem;
    font-weight: 400;
}

#resposta h1{
    color: var(--White);
    margin: 2rem;
    font-size: 2.5rem;
}

#resposta p{
    color: var(--Grey-500);
    font-weight: 400;
    line-height: 2.4rem;
}

footer{
    text-align: center;
    text-decoration: none;
    color: var(--White);
    font-weight: 300;
    margin-top: 1rem;
}